
[datafile]
description             = "Citizens for the radius ruleset"
options                 = "+Freeciv-2.6-ruleset"

[specialists]
;--------------------------------------------------------------------------- /*
; A specialist is a city citizen who is not a tile worker.  Usually the
; player can control what specialist each citizen is, so long as the
; requirements for that specialist are met.
;
; name          = translatable (plural) name as seen by user
; rule_name     = optional for changed names, as always default 'name'
; short_name    = one-character "short name" used (for instance) in cityrep;
;                 should be first character/abbrevation of "name"
; graphic_alt   = The specialist graphic allow different images based on
;                 citizen number. The alt tag don't. To use another
;                 specialist's tag use specialist.<otherrulename>_<number>.
;                 Example value: "specialist.scientist_0"
; reqs          = requirements to have the specialist pick
; helptext      = optional help text string
;--------------------------------------------------------------------------- */

[specialist_elvis]
name                    = _("Entertainers")
rule_name               = "elvis"
short_name              = _("?Elvis:E")
graphic_alt             = "s.tax_luxury"
helptext                = _("\
Each entertainer produces two luxury points for their city per turn.\
 See the section on Happiness for details.\
")

[specialist_scientist]
name                    = _("Scientists")
rule_name               = "scientist"
short_name              = _("?Scientist:S")
graphic_alt             = "s.tax_science"
helptext                = _("\
Each scientist adds three points ('bulbs') to your empire's research.\
")

[specialist_taxman]
name                    = _("Taxmen")
rule_name               = "taxman"
short_name              = _("?Taxman:T")
graphic_alt             = "s.tax_gold"
helptext                = _("\
Each tax collector adds three extra gold to your treasury per turn.\
")

[parameters]
add_to_size_limit       = 8     ; cities >= this cannot be added to.
angry_citizens          = TRUE  ; set to FALSE to disable angry citizens
celebrate_size_limit    = 3     ; cities >= can celebrate
vision_reveal_tiles     = TRUE  ; civ1 & 2 default FALSE
pop_report_zeroes       = 4     ; Population reports in tens of thousands

changable_tax           = TRUE  ; enables GUI tax rates setting
;forced_science         = 50    ; \ / not used in any known ruleset,
;forced_luxury          = 10    ;  X  set for changable_tax = FALSE,
;forced_gold            = 40    ; / \ science + luxury + gold = 100

[citizen]
nationality             = TRUE  ; account for the nationality of the citizens
convert_speed           = 50    ; probability 50/1000 -> once every 20 turns
partisans_pct           = 75    ; own nationality in % to inspire partisans
                                ; 0: no partisans in liberated city (classic)

