
[datafile]
description="Technology data for the radius ruleset"
options="+Freeciv-2.6-ruleset"

[control]
; Names for custom tech flags. There can be up to 8 of these.
; name          = rule name; In some circumstances user may see this
;                 as part of some sentences, so try to make it descriptive
;                 and sensible.
; helptxt       = displayed in the help for advances with this flag (optional)
;flags =
;  { "name", "helptxt"
;  }

; /* <-- avoid gettext warnings
;
; Below: The individual advances, one per section.
; The number can be variable, up to 196.
;
; The actual tag used (the * in [advance_*]) does not matter, except
; it must be unique within this file, and it may be used in debug
; output when reading this file.
;
; Notes:
;
; name          = translatable name as seen by user
; rule_name     = (optional) name for savegames, rulesets etc; if not
;                 present, 'name' is used. Since the name used in savegames
;                 must not change, use this when renaming a tech after a
;                 ruleset has been released.
; req1, req2    = advances required before researching this one
; root_req      = tech required before acquiring this tech, by any
;     means, inherited by all techs that require this tech in turn unless
;     "None" is given here explicitly; and you can make a tech available
;     only through the init_tech of a nation by making it root_req itself.
; flags         = special flag strings
; graphic       = icon for technology
; graphic_alt   = alternate icon
; helptext      = optional help text string (set units ruleset for examples)
; bonus_message = text seen when a player is the first to discover
;                 an bonus tech. Must contain '%s' to mark place of the tech
;                 gained.
; cost          = if tech_cost_style is set to "Classic+" or "Experimental+",
;                 this field is read for information on how much a tech
;                 costs.
;
; Special values for req1 and req2 are "None" (first section below)
; and "Never" (never available).  If only one tech is required,
; it should be listed as req1.
;
; As well as custom flags defined above, the following flag strings are
; possible:
;
; "Bonus_Tech" = player gets extra tech if reached first
; "Bridge"   = "Settler" unit types can build roads with "RequiresBridge" flag
;              over roads with "PreventsOtherRoads" flag (rivers)
; "Build_Airborne" = from now on can build air units (for use by AI)
; "Claim_Ocean"         = Player claims ocean tiles even if they are not
;                         adjacent to border source
; "Claim_Ocean_Limited" = Oceanic border sources claim ocean tiles even if
;                         they are not adjacent to border source
;
; */ <-- avoid gettext warnings

[advance_advanced_flight]
name     = _("Advanced Flight")
root_req = "Radio"
req1     = "Radio"
req2     = "Machine Tools"
flags    = ""
graphic     = "a.advanced_flight"
graphic_alt = "-"

[advance_alphabet]
name     = _("Alphabet")
root_req = "Masonry"
req1     = "None"
req2     = "None"
flags    = ""
graphic     = "a.alphabet"
graphic_alt = "-"

[advance_amphibious_warfare]
name     = _("Amphibious Warfare")
root_req = "Tactics"
req1     = "Tactics"
req2     = "Navigation"
flags    = ""
graphic     = "a.amphibious_warfare"
graphic_alt = "-"

[advance_astronomy]
name     = _("Astronomy")
root_req = "Mathematics"
req1     = "Mathematics"
req2     = "Mysticism"
flags    = ""
graphic     = "a.astronomy"
graphic_alt = "-"

[advance_atomic_theory]
name     = _("Atomic Theory")
root_req = "Theory of Gravity"
req1     = "Theory of Gravity"
req2     = "Physics"
flags    = ""
graphic     = "a.atomic_theory"
graphic_alt = "-"

[advance_automobile]
name     = _("Automobile")
root_req = "Combustion"
req1     = "Combustion"
req2     = "Steel"
graphic     = "a.automobile"
graphic_alt = "-"
helptext = _("Increases the population's contribution to pollution.")

[advance_banking]
name     = _("Banking")
root_req = "The Republic"
req1     = "The Republic"
req2     = "Trade"
flags    = ""
graphic     = "a.banking"
graphic_alt = "-"

[advance_bridge_building]
name     = _("Bridge Building")
root_req = "Construction"
req1     = "Construction"
req2     = "Iron Working"
flags    = "Bridge"
graphic     = "a.bridge_building"
graphic_alt = "-"
helptext = _("Allows roads to be built on river tiles.")

[advance_bronze_working]
name     = _("Bronze Working")
root_req = "Masonry"
req1     = "None"
req2     = "None"
flags    = ""
graphic     = "a.bronze_working"
graphic_alt = "-"

[advance_ceremonial_burial]
name     = _("Ceremonial Burial")
root_req = "Masonry"
req1     = "None"
req2     = "None"
flags    = ""
graphic     = "a.ceremonial_burial"
graphic_alt = "-"

[advance_chemistry]
name     = _("Chemistry")
root_req = "Medicine"
req1     = "Medicine"
req2     = "University"
flags    = ""
graphic     = "a.chemistry"
graphic_alt = "-"

[advance_chivalry]
name     = _("Chivalry")
root_req = "Feudalism"
req1     = "Feudalism"
req2     = "Horseback Riding"
flags    = ""
graphic     = "a.chivalry"
graphic_alt = "-"

[advance_civilization]
name     = _("Civilization")
req1     = "None"
req2     = "None"
flags    = ""
graphic     = "a.civilization"
graphic_alt = "-"
helptext = _("Do not forget to build a Palace.")

[advance_code_of_laws]
name     = _("Code of Laws")
root_req = "Alphabet"
req1     = "Alphabet"
req2     = "None"
flags    = ""
graphic     = "a.code_of_laws"
graphic_alt = "-"

[advance_combined_arms]
name     = _("Combined Arms")
root_req = "Advanced Flight"
req1     = "Advanced Flight"
req2     = "Mobile Warfare"
flags    = ""
graphic     = "a.combined_arms"
graphic_alt = "-"

[advance_combustion]
name     = _("Combustion")
root_req = "Refining"
req1     = "Refining"
req2     = "Explosives"
flags    = ""
graphic     = "a.combustion"
graphic_alt = "-"

[advance_communism]
name     = _("Communism")
root_req = "Industrialization"
req1     = "Industrialization"
req2     = "Philosophy"
flags    = ""
graphic     = "a.communism"
graphic_alt = "-"
helptext = _("Reduces the effect of Cathedrals.")

[advance_computers]
name     = _("Computers")
root_req = "Miniaturization"
req1     = "Miniaturization"
req2     = "Mass Production"
flags    = ""
graphic     = "a.computers"
graphic_alt = "-"
helptext = _("Activates the modern age city and music styles.")

[advance_conscription]
name     = _("Conscription")
root_req = "Metallurgy"
req1     = "Metallurgy"
req2     = "Democracy"
flags    = ""
graphic     = "a.conscription"
graphic_alt = "-"

[advance_construction]
name     = _("Construction")
root_req = "Currency"
req1     = "Currency"
req2     = "Masonry"
flags    = ""
graphic     = "a.construction"
graphic_alt = "-"
helptext = _("Allows Settlers, Workers and Engineers to build fortresses.")

[advance_cryptography]
name     = _("Cryptography")
root_req = "Espionage"
req1     = "Espionage"
req2     = "Theology"
flags    = ""
graphic     = "a.cryptography"
graphic_alt = "a.civilization"
helptext = _("Improves the effect of Cathedrals again, neutralizing a\
 side-effect of Communism.")

[advance_currency]
name     = _("Currency")
root_req = "Bronze Working"
req1     = "Bronze Working"
req2     = "None"
flags    = ""
graphic     = "a.currency"
graphic_alt = "-"

[advance_democracy]
name     = _("Democracy")
root_req = "Invention"
req1     = "Invention"
req2     = "Banking"
flags    = ""
graphic     = "a.democracy"
graphic_alt = "-"

[advance_economics]
name     = _("Economics")
root_req = "University"
req1     = "University"
req2     = "Banking"
flags    = ""
graphic     = "a.economics"
graphic_alt = "-"

[advance_electricity]
name     = _("Electricity")
root_req = "Metallurgy"
req1     = "Metallurgy"
req2     = "Magnetism"
flags    = ""
graphic     = "a.electricity"
graphic_alt = "-"
helptext = _("Improves the effect of Colosseums.")

[advance_electronics]
name     = _("Electronics")
root_req = "The Corporation"
req1     = "The Corporation"
req2     = "Electricity"
flags    = ""
graphic     = "a.electronics"
graphic_alt = "-"
helptext = _("Activates the electric age city and music styles.")

[advance_engineering]
name     = _("Engineering")
root_req = "Construction"
req1     = "Construction"
req2     = "The Wheel"
flags    = ""
graphic     = "a.engineering"
graphic_alt = "-"

[advance_environmentalism]
name     = _("Environmentalism")
root_req = "Space Flight"
req1     = "Space Flight"
req2     = "Recycling"
flags    = ""
graphic     = "a.environmentalism"
graphic_alt = "-"

[advance_espionage]
name     = _("Espionage")
root_req = "Communism"
req1     = "Communism"
req2     = "Democracy"
flags    = ""
graphic     = "a.espionage"
graphic_alt = "-"

[advance_explosives]
name     = _("Explosives")
root_req = "Chemistry"
req1     = "Chemistry"
req2     = "Gunpowder"
flags    = ""
graphic     = "a.explosives"
graphic_alt = "-"

[advance_feudalism]
name     = _("Feudalism")
root_req = "Monarchy"
req1     = "Monarchy"
req2     = "Warrior Code"
flags    = ""
graphic     = "a.feudalism"
graphic_alt = "-"

[advance_flight]
name     = _("Flight")
root_req = "Combustion"
req1     = "Combustion"
req2     = "Theory of Gravity"
flags    = "Build_Airborne"
graphic     = "a.flight"
graphic_alt = "-"
helptext = _("Decreases one-time revenue from new trade routes.")

[advance_fusion_power]
name     = _("Fusion Power")
root_req = "Superconductors"
req1     = "Superconductors"
req2     = "Nuclear Power"
flags    = ""
graphic     = "a.fusion_power"
graphic_alt = "-"
helptext = _("Activates the postmodern city and music styles.")

[advance_genetic_engineering]
name     = _("Genetic Engineering")
root_req = "The Corporation"
req1     = "The Corporation"
req2     = "Medicine"
flags    = ""
graphic     = "a.genetic_engineering"
graphic_alt = "-"

[advance_guerilla_warfare]
name     = _("Guerilla Warfare")
root_req = "Communism"
req1     = "Communism"
req2     = "Tactics"
flags    = ""
graphic     = "a.guerilla_warfare"
graphic_alt = "-"

[advance_gunpowder]
name     = _("Gunpowder")
root_req = "Invention"
req1     = "Invention"
req2     = "Iron Working"
flags    = ""
graphic     = "a.gunpowder"
graphic_alt = "-"

[advance_horseback_riding]
name     = _("Horseback Riding")
root_req = "Masonry"
req1     = "None"
req2     = "None"
flags    = ""
graphic     = "a.horseback_riding"
graphic_alt = "-"

[advance_industrialization]
name     = _("Industrialization")
root_req = "Railroad"
req1     = "Railroad"
req2     = "Banking"
graphic     = "a.industrialization"
graphic_alt = "-"
helptext = _("Population will start contributing to pollution."), _("\
Activates the industrial age city and music styles.")

[advance_invention]
name     = _("Invention")
root_req = "Engineering"
req1     = "Engineering"
req2     = "Literacy"
flags    = ""
graphic     = "a.invention"
graphic_alt = "-"
helptext = _("Increases units' vision when in fortresses.")

[advance_iron_working]
name     = _("Iron Working")
root_req = "Bronze Working"
req1     = "Bronze Working"
req2     = "Warrior Code"
flags    = ""
graphic     = "a.iron_working"
graphic_alt = "-"

[advance_labor_union]
name     = _("Labor Union")
root_req = "Mass Production"
req1     = "Mass Production"
req2     = "Guerilla Warfare"
flags    = ""
graphic     = "a.labor_union"
graphic_alt = "-"

[advance_laser]
name     = _("Laser")
root_req = "Nuclear Power"
req1     = "Nuclear Power"
req2     = "Mass Production"
flags    = ""
graphic     = "a.laser"
graphic_alt = "-"

[advance_leadership]
name     = _("Leadership")
root_req = "Gunpowder"
req1     = "Gunpowder"
req2     = "Chivalry"
flags    = ""
graphic     = "a.leadership"
graphic_alt = "-"

[advance_literacy]
name     = _("Literacy")
root_req = "Writing"
req1     = "Writing"
req2     = "Code of Laws"
flags    = ""
graphic     = "a.literacy"
graphic_alt = "-"

[advance_machine_tools]
name     = _("Machine Tools")
root_req = "Steel"
req1     = "Steel"
req2     = "Tactics"
flags    = ""
graphic     = "a.machine_tools"
graphic_alt = "-"

[advance_magnetism]
name     = _("Magnetism")
root_req = "Physics"
req1     = "Physics"
req2     = "Iron Working"
flags    = ""
graphic     = "a.magnetism"
graphic_alt = "-"

[advance_map_making]
name     = _("Map Making")
root_req = "Alphabet"
req1     = "Alphabet"
req2     = "None"
flags    = ""
graphic     = "a.map_making"
graphic_alt = "-"

[advance_masonry]
name     = _("Masonry")
root_req = "Civilization"
req1     = "None"
req2     = "None"
flags    = ""
graphic     = "a.masonry"
graphic_alt = "-"

[advance_mass_production]
name     = _("Mass Production")
root_req = "Automobile"
req1     = "Automobile"
req2     = "The Corporation"
graphic     = "a.mass_production"
graphic_alt = "-"
helptext = _("Increases the population's contribution to pollution.")

[advance_mathematics]
name     = _("Mathematics")
root_req = "Alphabet"
req1     = "Alphabet"
req2     = "Masonry"
flags    = ""
graphic     = "a.mathematics"
graphic_alt = "-"

[advance_medicine]
name     = _("Medicine")
root_req = "Philosophy"
req1     = "Philosophy"
req2     = "Trade"
flags    = ""
graphic     = "a.medicine"
graphic_alt = "-"

[advance_metallurgy]
name     = _("Metallurgy")
root_req = "Gunpowder"
req1     = "Gunpowder"
req2     = "University"
flags    = "Claim_Ocean"
graphic     = "a.metallurgy"
graphic_alt = "-"

[advance_miniaturization]
name     = _("Miniaturization")
root_req = "Machine Tools"
req1     = "Machine Tools"
req2     = "Electronics"
flags    = ""
graphic     = "a.miniaturization"
graphic_alt = "-"

[advance_mobile_warfare]
name     = _("Mobile Warfare")
root_req = "Automobile"
req1     = "Automobile"
req2     = "Amphibious Warfare"
flags    = ""
graphic     = "a.mobile_warfare"
graphic_alt = "-"

[advance_monarchy]
name     = _("Monarchy")
root_req = "Code of Laws"
req1     = "Code of Laws"
req2     = "Ceremonial Burial"
flags    = ""
graphic     = "a.monarchy"
graphic_alt = "-"

[advance_monotheism]
name     = _("Monotheism")
root_req = "Philosophy"
req1     = "Philosophy"
req2     = "Polytheism"
flags    = ""
graphic     = "a.monotheism"
graphic_alt = "-"

[advance_mysticism]
name     = _("Mysticism")
root_req = "Ceremonial Burial"
req1     = "Ceremonial Burial"
req2     = "None"
flags    = ""
graphic     = "a.mysticism"
graphic_alt = "-"
helptext = _("Improves the effect of Temples.")

[advance_navigation]
name     = _("Navigation")
root_req = "Astronomy"
req1     = "Astronomy"
req2     = "Seafaring"
flags    = ""
graphic     = "a.navigation"
graphic_alt = "-"

[advance_nuclear_fission]
name     = _("Nuclear Fission")
root_req = "Mass Production"
req1     = "Mass Production"
req2     = "Atomic Theory"
flags    = ""
graphic     = "a.nuclear_fission"
graphic_alt = "-"

[advance_nuclear_power]
name     = _("Nuclear Power")
root_req = "Nuclear Fission"
req1     = "Nuclear Fission"
req2     = "Electronics"
flags    = ""
graphic     = "a.nuclear_power"
graphic_alt = "-"
helptext = _("Gives sea units one extra move.")

[advance_philosophy]
name     = _("Philosophy")
root_req = "Literacy"
req1     = "Literacy"
req2     = "Mysticism"
flags    = "Bonus_Tech"
bonus_message = _("Great philosophers from all the world join \
your civilization: you learn %s immediately.")
graphic     = "a.philosophy"
graphic_alt = "-"

[advance_physics]
name     = _("Physics")
root_req = "Navigation"
req1     = "Navigation"
req2     = "Literacy"
flags    = ""
graphic     = "a.physics"
graphic_alt = "-"

[advance_plastics]
name     = _("Plastics")
root_req = "Space Flight"
req1     = "Space Flight"
req2     = "Refining"
graphic     = "a.plastics"
graphic_alt = "-"
helptext = _("Increases the population's contribution to pollution.")

[advance_polytheism]
name     = _("Polytheism")
root_req = "Horseback Riding"
req1     = "Horseback Riding"
req2     = "Ceremonial Burial"
flags    = ""
graphic     = "a.polytheism"
graphic_alt = "-"

[advance_pottery]
name     = _("Pottery")
root_req = "Masonry"
req1     = "None"
req2     = "None"
flags    = ""
graphic     = "a.pottery"
graphic_alt = "-"

[advance_radio]
name     = _("Radio")
root_req = "Flight"
req1     = "Flight"
req2     = "Electricity"
flags    = ""
graphic     = "a.radio"
graphic_alt = "-"
helptext = _("Allows Workers and Engineers to build airbases and buoys.")

[advance_railroad]
name     = _("?tech:Railroad")
root_req = "Steam Engine"
req1     = "Steam Engine"
req2     = "Bridge Building"
flags    = ""
graphic     = "a.railroad"
graphic_alt = "-"
helptext = _("\
Allows Settlers, Workers and Engineers to upgrade roads to tramways \
and railroads.\
"), _("\
Decreases one-time revenue from new trade routes.\
")

[advance_recycling]
name     = _("Recycling")
root_req = "Mass Production"
req1     = "Mass Production"
req2     = "Democracy"
flags    = ""
graphic     = "a.recycling"
graphic_alt = "-"

[advance_refining]
name     = _("Refining")
root_req = "The Corporation"
req1     = "The Corporation"
req2     = "Chemistry"
flags    = ""
graphic     = "a.refining"
graphic_alt = "-"
helptext = _("\
Allows Settlers, Workers and Engineers to build oil wells on \
Glacier tiles.\
")

[advance_refrigeration]
name     = _("Refrigeration")
root_req = "Electricity"
req1     = "Electricity"
req2     = "Sanitation"
flags    = ""
graphic     = "a.refrigeration"
graphic_alt = "-"
helptext = _("\
Allows Settlers, Workers and Engineers to upgrade irrigation systems \
to farmland.\
")

[advance_robotics]
name     = _("Robotics")
root_req = "Computers"
req1     = "Computers"
req2     = "Mobile Warfare"
flags    = ""
graphic     = "a.robotics"
graphic_alt = "-"

[advance_rocketry]
name     = _("Rocketry")
root_req = "Advanced Flight"
req1     = "Advanced Flight"
req2     = "Electronics"
flags    = ""
graphic     = "a.rocketry"
graphic_alt = "-"

[advance_sanitation]
name     = _("Sanitation")
root_req = "Medicine"
req1     = "Medicine"
req2     = "Engineering"
flags    = ""
graphic     = "a.sanitation"
graphic_alt = "-"

[advance_seafaring]
name     = _("Seafaring")
root_req = "Map Making"
req1     = "Map Making"
req2     = "Pottery"
flags    = ""
graphic     = "a.seafaring"
graphic_alt = "-"

[advance_space_flight]
name     = _("Space Flight")
root_req = "Rocketry"
req1     = "Rocketry"
req2     = "Computers"
flags    = ""
graphic     = "a.space_flight"
graphic_alt = "-"

[advance_stealth]
name     = _("Stealth")
root_req = "Superconductors"
req1     = "Superconductors"
req2     = "Advanced Flight"
flags    = ""
graphic     = "a.stealth"
graphic_alt = "-"

[advance_steam_engine]
name     = _("Steam Engine")
root_req = "Physics"
req1     = "Physics"
req2     = "Invention"
flags    = ""
graphic     = "a.steam_engine"
graphic_alt = "-"

[advance_steel]
name     = _("Steel")
root_req = "Industrialization"
req1     = "Industrialization"
req2     = "Electricity"
flags    = ""
graphic     = "a.steel"
graphic_alt = "-"

[advance_superconductors]
name     = _("Superconductors")
root_req = "Laser"
req1     = "Laser"
req2     = "Refrigeration"
flags    = ""
graphic     = "a.superconductors"
graphic_alt = "-"

[advance_tactics]
name     = _("Tactics")
root_req = "Conscription"
req1     = "Conscription"
req2     = "Leadership"
flags    = ""
graphic     = "a.tactics"
graphic_alt = "-"

[advance_the_corporation]
name     = _("The Corporation")
root_req = "Industrialization"
req1     = "Industrialization"
req2     = "Economics"
flags    = ""
graphic     = "a.the_corporation"
graphic_alt = "-"

[advance_the_republic]
name     = _("The Republic")
root_req = "Literacy"
req1     = "Literacy"
req2     = "Code of Laws"
flags    = ""
graphic     = "a.the_republic"
graphic_alt = "-"

[advance_the_wheel]
name     = _("The Wheel")
root_req = "Horseback Riding"
req1     = "Horseback Riding"
req2     = "None"
flags    = ""
graphic     = "a.the_wheel"
graphic_alt = "-"

[advance_theology]
name     = _("Theology")
root_req = "Feudalism"
req1     = "Feudalism"
req2     = "Monotheism"
flags    = ""
graphic     = "a.theology"
graphic_alt = "-"
helptext = _("Improves the effect of Cathedrals.")

[advance_theory_of_gravity]
name     = _("Theory of Gravity")
root_req = "University"
req1     = "University"
req2     = "Astronomy"
flags    = ""
graphic     = "a.theory_of_gravity"
graphic_alt = "-"

[advance_trade]
name     = _("Trade")
root_req = "Currency"
req1     = "Currency"
req2     = "Code of Laws"
flags    = ""
graphic     = "a.trade"
graphic_alt = "-"

[advance_university]
name     = _("University")
root_req = "Philosophy"
req1     = "Philosophy"
req2     = "Mathematics"
flags    = ""
graphic     = "a.university"
graphic_alt = "-"

[advance_warrior_code]
name     = _("Warrior Code")
root_req = "Masonry"
req1     = "None"
req2     = "None"
flags    = ""
graphic     = "a.warrior_code"
graphic_alt = "-"

[advance_writing]
name     = _("Writing")
root_req = "Alphabet"
req1     = "Alphabet"
req2     = "None"
flags    = ""
graphic     = "a.writing"
graphic_alt = "-"
